*{
    margin: 0;
    padding: 0;
}

body{
	background-image: url("img/fondos/jocker3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.general{
    height: 100%;
    width: 100%;
}

form{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.genero{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(5px);
}

#Terror{
    background-image: url("img/miedo.jpg");
    color: rgba(0, 0, 0, 0);
    border: white 2px solid;
    border-radius: 15px;
    color: white;   
    text-transform: uppercase; /*Poner texto en mayusculas*/
    font-size: 40px;
    letter-spacing: .20em;
}

#Terror:hover{
    border: gray 2px solid;
    color: gray; 
      
}
#Terror:active{
    border: white 4px solid;
    color: white;   
}

#Thriller{
    background-image: url("img/thriller.png");
    background-position: 50% 50%; /*centrar imagen*/
    color: transparent; 
    border: white 2px solid;
    border-radius: 15px;
    color: white;   
    text-transform: uppercase; /*Poner texto en mayusculas*/
    font-size: 40px;
    letter-spacing: .20em;

}

#Thriller:hover{
    border: gray 2px solid;
    color: gray;   
}
#Thriller:active{
    border: white 4px solid;
    color: white;   
}






