*{
    margin: 0px;
    padding: 0px;
}

.general{
    height: 100%;
    width: 100%;
    overflow: auto; /*Para hacer scroll*/
    border: 1px solid black;
    background-image: url("img/fondos/fondoFicha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ficha{
    height: 75%;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 15px;
    /*display: flex;*/ /* float (left right) y grid */
}

img{
    height: 100%;
    width: 35%;
    /*background-image: url("img/caratulas/thriller/bajoCero.jpeg");*/
    background-size: cover;
    color: transparent;
    float: left;
    border-radius: 15px;

}

.datos{
    height: 100%;
    width: 63%;
    color: white;
    float: left;
}

.titulo{
    font-size: 30px;
    margin-left: 3%; /*espacio entre elementos*/
    margin-top: 2%;
    /*padding: 3%;*/ /* espacio entre el texto y el borde de su propio contendor*/
    height: auto;
    width: 70%;
    color: white;
    /*display: flex; /* float (left right) y grid */
    float: left;
}

.subtitulo{
    height: auto;
    width: 100%;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 18px;
    color: white;
    float: left;
    text-align: justify; /*texto justificado*/
}

input{
    margin-left: 44%;
    margin-top: 2%;
    align-self: start;
    height: 9%;/*alto*/
    width: 12%; /*ancho*/
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 15px;
    font-weight:bold;
    letter-spacing: .13em;/*espacio entre letras*/
}

input:hover{
    border:red 2px solid;
    color: red;   
}

